<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="first">
        <img src="../assets/home_page.png" alt="Logo" style="width:40px;">
      </a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="screen1">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="screen2">Office</a>
      </li>
  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link font-weight-bold dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Let's go
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
    <form class="form-inline ml-auto" action="/action_page.php">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="submit">Searchhh</button>
      </form>
  </nav>
  <!--<img class="bg" src="../assets/test.png" alt="Chania" width="460" height="345"> -->
 <!-- <div class="view" style="background-image: '../assets/test.png'; background-repeat: no-repeat; background-size: cover;">-->
  
  